/* src/App.css */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  background-color: #f0f0f0;
}

.hero-img {
  width: 100%;
  height: auto;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.circle {
  position: relative;
  left: 3%;
}
@media (max-width: 600px) {
  .hero-text {
    text-align: center;
  }
  .category {
    font-size: 24px;
    padding: 0.2rem 0;
  }
}
